/* Custom styles */
body {
    padding-top: 20px;
    background-color: #fdfdfd;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 55px;
  font-weight: 900;
  color: #302727;
}

.form-control:focus {
    box-shadow: none !important;
}

.pagination {
  --bs-pagination-focus-box-shadow: none;
}